@import '../../../style/variables/colors';
@import '../../../style/variables/dimensions';

.navbar {
  width: 100%;
  height: $navbar-desktop-height;
  padding: 0 5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-top: 1px solid $light-yellow-color;
  
  ul {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    //gap: 2.5rem;

    list-style-type: none;
  }
}