@import '../../../style/variables/borders';

.image {
  position: relative;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: $border-radious;
  border: 2px solid white;
}