@import '../../../style/variables/dimensions';

.product-details {
  width: 100%;
  padding: 1.75rem;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.25rem;

  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  @media (min-width: $mobile-width) {
    width: 30rem;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
  }

  .product-title {
    margin: 0;
    font-size: 1.3rem;
    text-align: center;
  }

  .product-cart-container {
    width: 100%;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    gap: .75rem;
    

    .product-price {
      font-size: 1.1rem;
    }
  }
}