@import '../../../style/variables/dimensions';
@import '../../../style/variables/forms';

.address-container {
  @include address-form();

  .submit-form {
    margin-top: 1.5rem;
    width: 50%;
  }

  .manage-buttons-container {
    position: absolute;
    top: .45rem;
    right: .45rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: .75rem;
  }

  h1 {
    margin: .75rem 0;
  }
}

.address-delete-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .75rem;
  text-align: center;
}

.enter {
  opacity: 0;
  transform: scale(.9);
}

.enter-active {
  opacity: 1;
  transform: scale(1);
  transition: linear 150ms;
}

.exit {
  opacity: 1;
  transform: scale(.9);
}

.exit-active {
  opacity: 0;
  transform: scale(.7);
  transition: linear 150ms;
}