@import '../../../style/variables/borders';

.select-container {
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  select {
    width: 100%;
    padding: .35rem .5rem;
    border-radius: $border-radious;
    text-align: center;
    border: 1px solid black;

    transition: linear 100ms;

    &:focus {
      outline: 1px solid black;
    }
  }
}