@import '../../../style/variables/dimensions';

$address-border: 1px solid rgba(0, 0, 0, 0.4);

.address-item {
  cursor: pointer;

  width: 100%;
  padding: .5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .5rem;

  border: $address-border;

  transition: linear 100ms;

  @media (min-width: $mobile-width) {
    &:hover {
      border: 1px solid black;
    }
  }

  .address-conutry {
    font-weight: bold;
  }

  .address-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}