@import '../../../style/variables/inputs';

.number-input-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  label {
    margin: .35rem;
  }

  .number-input {
    @include main-input(); 
  }
  
  .invalid-number-input {
    @include invalid-input();
  }
}
