@import '../../../style/variables/dimensions';

.addresses {
  overflow-y: scroll;

  width: 100%;
  min-height: 40vh;
  max-height: 70vh;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: .5rem;

  list-style: none;

  @media (min-width: $mobile-width) {
    width: 35rem;
  }

  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: .5rem;
  
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: rgba(42, 42, 42, 0.8);
    border-radius: 1rem;
  }
}