@import '../../../style/variables/dimensions';

.order-list {
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  list-style: none;

  @media (min-width: $mobile-width) {
    margin: 1rem;

    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
}