@import '../../../style/variables/items';

.order-item-element {
  @include order-item-element();

  .order-item-element-value {
    font-weight: 300;
    font-size: 1.1rem;
  }
}

.order-item-element--border {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}