@import '../../../style/variables/shadows';
@import '../../../style/variables/colors';

.item {
  cursor: pointer;

  height: 100%;
  padding: 0 2rem;

  position: relative;

  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  border-top: 1px solid white;

  transition: linear 80ms;

  &:hover {
    padding: 0 1.9rem;
    font-size: 1.2rem;;
    color: $main-yellow-color;
    @include light-shadow();
    background-color: $main-brown-color;
    border-top: 1px solid $main-yellow-color;
  }
}