@import '../../../style/variables/dimensions';

.checkout-items {
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  list-style: none;

  @media (min-width: $mobile-width) {
    flex-direction: row;
    align-items: flex-start;
  }

  .checkout-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (min-width: $mobile-width) {
      width: clamp(25%, 35%, 50%);
      border-right: 1px solid black;
      border-bottom: 1px solid black;
    }
  }

  .checkout-summary-container {
    width: 100%;
    border-top: 1px solid black;

    @media (min-width: $mobile-width) {
      width: clamp(10%, 22.5%, 35%);
      padding: .5rem 2.5%;
      border-right: 1px solid black;
    }
  }
}