@import '../../../style/variables/dimensions';

.create-category-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .create-category-button {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    @media (min-width: $mobile-width) {
      width: 30rem;
    }
  }
}