@import '../../../style/variables/colors';
@import '../../../style/variables/dimensions';
@import '../../../style/variables/borders';
@import '../../../style/variables/lists';


.user-list {
  position: relative;

  @include main-list();

  form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: $main-gap;

    .account-status-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: .25rem;
    }
  }

  .edit-button-container {
    @include list-edit-button();
  }
}

.user-list__edit {
  @include edit-list();
}