@import '../../../style/variables/inputs';

.file-picker {
  @include file-picker();
  .input-wrapper {
    @include file-picker-input-wrapper();
  }

  .selected-file-container {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .image-previev {
      width: 100%;
      height: 10rem;

      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .file-name {
      font-size: .9rem;

      span {
        font-weight: bold;
      }
    }
  }
}