@import '../../../style/variables/dimensions';

.create-address {
  width: 100%;
  margin: 1rem 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (min-width: $mobile-width) {
    width: $address-form-pc-width;

    margin: 1rem 0 2rem 0;
  }

  .buttons {
    width: 80%;
    margin: .5rem 0;
    padding: 0 .5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: linear 150ms;

    @media (min-width: $mobile-width) {
      padding: 0;
    }
  }

  .form-container {
    width: 100%;
  }
}

.enter {
  opacity: 0;
  transform: scale(.9);
}

.enter-active {
  opacity: 1;
  transform: scale(1);
  transition: linear 150ms;
}

.exit {
  opacity: 1;
  transform: scale(.9);
}

.exit-active {
  opacity: 0;
  transform: scale(.7);
  transition: linear 150ms;
}