@import '../../../style/variables/borders';
@import '../../../style/variables/colors';

.password-container {
  overflow: hidden;

  width: 90%;
  height: 2.2rem;

  border-radius: $border-radious;
  border: 1px solid $main-brown-color;
  font-size: .9rem;

  display: flex;

  input {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    font-size: .9rem;
    border: none;
  }

  button {
    height: 100%;
    width: auto;
    background: transparent;

    border: none;
  }

  &:focus,
  &:active {
    outline: 1px solid $main-brown-color;
  }
}