// BROWN
$main-brown-color: #56433f;
$light-brown-color: #6b544f;

// YELLOW
$main-yellow-color: #fdb93e;
$light-yellow-color: #ffc861;

//GREEN
$main-green-color: #2e9e52;
$light-green-color: #3db664;