@import './borders';
@import './shadows';
@import './dimensions';

@mixin header-button-dropdown {
  padding: 1rem 1rem;
  position: absolute;
  top: 2.25rem;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: .65rem;

  background-color: white;
  border-radius: $border-radious;

  @include light-shadow();
}

@mixin main-container($gap, $pc-width) {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: $gap;
  padding: 1rem;

  @media (min-width: $mobile-width) {
    width: $pc-width;
    padding: 2.5rem 1rem;

    border-radius: $border-radious;

    -webkit-box-shadow: 0px 3px 24px -3px rgba(66, 68, 90, 0.55);
    -moz-box-shadow: 0px 3px 24px -3px rgba(66, 68, 90, 0.55);
    box-shadow: 0px 3px 24px -3px rgba(66, 68, 90, 0.55);
  }
}