@import './borders';
@import './shadows';

@mixin header-button-dropdown {
  padding: 1rem 1rem;
  position: absolute;
  top: 2.25rem;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: .65rem;

  background-color: white;
  border-radius: $border-radious;

  @include light-shadow();
}