@import './_borders.scss';
@import './colors';
@import './dimensions';

@mixin main-input-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin main-input {
  width: 90%;
  padding: .5rem 1rem;
  border-radius: $border-radious;
  border: 1px solid $main-brown-color;
  font-size: .9rem;

  &:focus,
  &:active {
    outline: 1px solid $main-brown-color;
  }
}

@mixin invalid-input {
  border: 1px solid $invalid-red-color !important;
  outline: 1px solid $invalid-red-color !important;
}

@mixin file-picker {
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .75rem;
}

@mixin file-picker-input-wrapper {
  overflow: hidden;
    z-index: 2;
  
    position: relative;
  
    width: 100%;
    height: 2.8rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    border-radius: $border-radious;
    background-color: $main-yellow-color;
    outline: none;
    border: none;
  
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, .2);
    font-size: .9rem;
  
    transition: linear 100ms;  
  
    &:hover {
      background-color: $light-yellow-color;
    }

    input[type=file] {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 22;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
}