$header-z-index: 100;

$info-modal-z-index: 110;

$backdrop-z-index: 999;

$gallery-modal-z-index: 1001;

$mobile-navbar-z-index: 1010;

$main-modal-z-index: 1011;

$loading-fullscreen-spinner-z-index: 9999;