@import '../../../style/variables/borders';
@import '../../../style/variables/dimensions';

$cart-item-padding: 1rem;

.cart-product {
  position: relative;

  width: 100%;
  padding: $cart-item-padding;

  display: grid;
  align-items: flex-start;
  justify-content: center;
  grid-template-columns: 1fr 3fr 2fr;
  gap: .5rem;

  .cart-product-image {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: $border-radious;
  }

  .cart-product-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;

    .cart-ammount-container {
      width: 40%;

      @media (min-width: $mobile-width) {
        width: 30%;
      }

      input {
        width: 100%;
      }
    }

    .cart-product-link {
      text-decoration: none;
      color: black;
  
      .cart-product-title {
        margin: 0;
      }
    }
  }

  .cart-price {
    text-align: end;
    font-size: .9rem;
  }

  .delete-cart-button-container {
    position: absolute;
    bottom: $cart-item-padding;
    right: $cart-item-padding;
  }
}