@import '../../../style/variables/colors';
@import '../../../style/variables/z-index';
@import '../../../style/variables/dimensions';

.header {
  z-index: $header-z-index;

  width: 100%;
  height: $header-height;
  padding: .5rem;

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  background-color: $main-brown-color;

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: .5rem;
  }

  .search {
    margin-top: .5rem;
    width: 100%;
  }
}