@import '../../../style/variables/dimensions';

.checkout-data {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .5rem;

  .submit-button-container {
    width: 90%;
    margin-top: 1.5rem;

    @media (min-width: $mobile-width) {
      width: 12.5rem;
    }
  }

  .spinner-container {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.2);
  }
}