@import '../../../style/variables/buttons';

.user-button {
  padding: .5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  @include reset-button();

  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}