@import '../../../style/variables/dimensions';

.checkout-addres {
  overflow: hidden;
  width: 100%;
  padding: 2rem .5rem;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .2rem;

  @media (min-width: $mobile-width) {
    width: 25rem;
  }
}