@import '../../../style/variables/dimensions';

.link {
  @include navbar-item-dimensions();

  display: flex;
  align-items: center;
  justify-content: flex-start;

  text-decoration: none;
  color: black;
}