@import '../../../style/variables/dimensions';

.users-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: $mobile-width) {
    height: 100%;
    display: grid;
    gap: 0;
    grid-template-columns: [filter-bar] 25rem  [main-content] 1fr;
  }

  .content {
    @media (min-width: $mobile-width) {
      grid-area: main-content;
      min-height: 85vh;
      padding: 1rem;
    }

    .spinner {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}