@import '../../../style/variables/dimensions';

.addresses {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;

  @media (min-width: $mobile-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}